@media screen and (max-width: 576px) {
  .side-bar {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "hero-container";
    width: 95%;
    margin: 0 auto;
  }
  .sub-container {
    width: 95%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "header"
      "header"
      "header"
      "actual-balance"
      "actual-balance"
      "actual-balance"
      "actual-balance"
      "actual-balance"
      "income"
      "income"
      "income"
      "income"
      "income"
      "expenses"
      "expenses"
      "expenses"
      "expenses"
      "expenses"
      "last-activities"
      "last-activities"
      "last-activities"
      "last-activities"
      "last-activities"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "budget"
      "income-expenses"
      "account-summary"
      "payment-methods";
  }

  .header {
    flex-direction: column;
    row-gap: 20px;
  }
  .header .header-right {
    justify-content: flex-start;
    column-gap: 20px;
  }
  .header .header-right .header-right-1 {
    padding: 15px;
  }
  .header .header-right .header-right-1 i {
    font-size: 22px;
  }
  .header .header-right-3 {
    order: 3;
    justify-content: center;
    border-radius: 10px;
    padding-block: 5px;
    margin-left: 0px;
    align-self: auto;
  }
  .header .header-left {
    width: 100%;
  }
  .header .header-left .header-left-3 h2,
  .header .header-left .header-left-3 p {
    display: none;
  }
  .header .header-left .header-left-3 {
    column-gap: 0;
    justify-content: center;
  }
  .header-left-3-img-container {
    width: 30px;
    height: 30px;
  }

  .transactions {
    grid-template-columns: repeat(5, minmax(110px, 1fr));
    overflow-x: auto;
    overflow-y: hidden;
  }
  .transactions .user-img {
    width: 40px;
    height: 40px;
  }

  .transactions .user-details div:nth-child(2) > p:nth-child(1) {
    font-size: var(--text-sm);
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  html,
  body {
    overflow-x: hidden;
  }

  .display-md-screen-none {
    display: none;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-areas: "hero-container";
  }

  .sub-container {
    width: calc(100% - 240px);
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "header"
      "header"
      "header"
      "actual-balance"
      "actual-balance"
      "actual-balance"
      "actual-balance"
      "actual-balance"
      "income"
      "income"
      "income"
      "income"
      "income"
      "expenses"
      "expenses"
      "expenses"
      "expenses"
      "expenses"
      "last-activities"
      "last-activities"
      "last-activities"
      "last-activities"
      "last-activities"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "transactions"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "monthly-bills"
      "budget"
      "income-expenses"
      "account-summary"
      "payment-methods";
  }
  .header {
    flex-direction: column;
    row-gap: 20px;
  }
  .header .header-right {
    justify-content: flex-start;
    column-gap: 20px;
  }
  .header .header-right .header-right-1 {
    padding: 15px;
  }
  .header .header-right .header-right-1 i {
    font-size: 22px;
  }
  .header .header-right-3 {
    order: 3;
    justify-content: center;
    border-radius: 10px;
    padding-block: 5px;
    margin-left: 0px;
    align-self: auto;
  }
  .header .header-left {
    width: 100%;
  }
  .header .header-left .header-left-3 h2,
  .header .header-left .header-left-3 p {
    display: none;
  }
  .header .header-left .header-left-3 {
    column-gap: 0;
    justify-content: center;
  }
  .header-left-3-img-container {
    width: 30px;
    height: 30px;
  }

  .side-bar {
    position: fixed;
    z-index: 99999;
  }

  .transactions {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    overflow-x: auto;
    scrollbar-width: none;
  }

  .transactions::-webkit-scrollbar {
    display: none;
  }

  .transactions .user-img {
    width: 45px;
    height: 45px;
  }

  .actual-balance p:first-of-type,
  .income p:first-of-type,
  .expenses p:first-of-type {
    font-size: 20px;
  }
}
